  <div class="list-group col-md-3">
    <span class="trnd-head"><h4>Trending</h3></span>
    <div class="row">
        <div class="col-xs-8 col-md-8 new-box">
      <a href="#" class="">
        <img src="<%=image_link%>" alt="trending">
        <div class="caption">
        <h6><%=name%></h6>
        <hr>
        </div>
      </a>
  </div>
    <div class="col-xs-8 col-md-8 new-box">
  <a href="#" class="">
    <img src="<%=image_link%>" alt="trending">
    <div class="caption">
    <h5><%=name%></h5>
<hr>
    </div>
  </a>
  </div>
  <div class="col-xs-8 col-md-8 new-box">
<a href="#" class="">
  <img src="<%=image_link%>" alt="trending">
  <div class="caption">
  <h5><%=name%></h5>
<hr>
  </div>
</a>
</div>
    </div>
  </div>
